[core]
  editor = nvim
	pager = delta

[interactive]
	diffFilter = delta --color-only

[color]
	ui = true

[init]
	defaultBranch = main

[alias]
	st = status
	l = log --all --decorate --oneline --graph
	gfpl = git push --force-with-lease
	pulls = log --pretty=format:\"%h, %ci\"
	changes = log --oneline --name-status
	graph = log --graph --abbrev-commit --date=relative --pretty=format:'%C(yellow)%h%Creset%C(blue)%d%Creset %s %C(green)<%an>%Creset %C(blue)%ci%Creset'

[include]
  path = ~/.gitconfig.user

[merge]
	conflictStyle = zdiff3

[delta]
	navigate = true
  side-by-side = true
  line-numbers = true
  features = dark-mode

[delta "dark-mode"]
  dark = true
  syntax-theme = "Catppuccin Mocha"

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	format = ssh
[user]
	signingkey = key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBizbPlgoO40RlFvvwOnPivDcR/LxFqRTimV7oTZm7Ao rolandolah@icloud.com
[commit]
	gpgsign = true
