[core]
	pager = diff-so-fancy | less --tabs=4 -RF
	excludesFile = ~/.gitignore

[interactive]
	diffFilter = diff-so-fancy --patch

[color]
	ui = true

[includeIf "gitdir:~/DEV/"]
	path = ~/DEV/.gitconfig

[includeIf "gitdir:~/ORCA/"]
	path = ~/ORCA/.gitconfig

[alias]
	st = status

	l = log --all --decorate --oneline --graph

	gfpl = git push --force-with-lease

	pulls = log --pretty=format:\"%h, %ci\"

	changes = log --oneline --name-status

	graph = log --graph --abbrev-commit --date=relative --pretty=format:'%C(yellow)%h%Creset%C(blue)%d%Creset %s %C(green)<%an>%Creset %C(blue)%ci%Creset'
